{% if succesfully_payed %}
    <div class="alert alert-success alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Paid &euro;{{ amount_added }} Cash register now contains: &euro;{{ cash.cash_amount }}
    </div>
{% endif %}
{% if payment_error %}
    <div class="alert alert-danger alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Payment failed. Cash register now contains: &euro;{{ cash.cash_amount }}
    </div>
{% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% if order_list %}
            {% for product in order_list %}
            <tr>
                <td>{{ product.product_name }}</td>
                <td>&euro;{{ product.product_price }}</td>
                <td>
                    <a role="button" class="btn btn-danger"
		                 href="javascript:void(0);" onclick='removeProduct("{{ product.product_name }}");'>X</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td>Total</td>
                <td>&euro;{{ totalprice }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
