<!DOCTYPE html>
<html>
    <head>
	<meta charset=utf-8 />
	<title>Order</title>
	<script type="text/javascript"
	    src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	<!--[if IE]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	    rel="stylesheet"
	    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	    crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	    crossorigin="anonymous"></script>
    </head>
    <body style="margin-top: 20px;">
	<div class="container-fluid">
	    <div class="row">
	        <div id="additiondiv" class="col-sm-6 col-md-4">
		</div>
	        <div class="col-sm-6 col-md-8">
		    <div class="row">
			{% if product_list %}
			    {% for product in product_list %}
			    <div class="col-sm-6 col-md-2"><a role="button" class="btn btn-primary btn-block"
					 href="javascript:void(0);"
							    onclick="addProduct(
							    {{ product.product_id }});">
				    {{ product.product_name }}<br>{{ product.product_price }}</a></div>
			    {% endfor %}
			{% endif %}
		    </div>
		</div>
	    </div>
	</div>
	<nav class="navbar navbar-inverse">
	    <div class="container">
		<div class="navbar-header">
		    <span class="navbar-brand">EpPOS</span>
		</div>
		<div id="navbar">
		    <ul class="nav navbar-nav">
			<li><a href="javascript:void(0);" onclick="payed();" role="button">Payed</a></li>
			<li><a href="javascript:void(0);" onclick="reset();" role="button">Reset</a></li>
		    </ul>
		</div>
	    </div>
	</nav>
	<script>
	    function addProduct(productID) {
		$('#additiondiv').load("{% url 'addition' '' %}" + productID);
		console.log("Ordered number: " + productID);
	    }
	    function reset() {
		$('#additiondiv').load("{% url 'addition' 'reset' %}");
		console.log("Reset addition");
	    }
	    function payed() {
		$('#additiondiv').load("{% url 'addition' 'payed' %}");
		console.log("Person payed");
	    }
	    function removeProduct(product) { 
		console.log(window.location);
		console.log("{% url 'addition' '' %}");
		$('#additiondiv').load("{%url 'addition' '' %}" + product);
	    }

	    $(function() {
		// This shallst load /addition in its div
		$('#additiondiv').load("{% url 'addition' '' %}");
	    });
	</script>
    </body>
</html>
