<!DOCTYPE html>
<html>
    <head>
	      <meta charset=utf-8 />
	      <title>Order</title>

	      <script type="text/javascript"
	              src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

	      <!--[if IE]>
	          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	      <![endif]-->
	      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	            rel="stylesheet"
	            integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	            crossorigin="anonymous">

	      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
	              integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
	              crossorigin="anonymous">
        </script>

        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/static/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
	      <nav class="navbar navbar-inverse">
	          <div class="container">
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							              data-target="#navbar"
							              aria-expanded="false"
	                          aria-controls="navbar">
			                  <span class="sr-only">Toggle navigation</span>
			                  <span class="icon-bar"></span>
			                  <span class="icon-bar"></span>
			                  <span class="icon-bar"></span>
		                </button>
		                <span class="navbar-brand">EpPOS</span>
		            </div>
		            <div id="navbar" class="collapse navbar-collapse">
		                <ul class="nav navbar-nav">
			                  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Payment
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="#" onclick="payed('cash');">Cash</a></li>
                                    <li><a href="#" onclick="payed('card');">Card</a></li>
                                </ul>
                        </li>
			                  <li><a href="#" onclick="reset();" role="button">Clear Order</a></li>
                        {% if request.user.is_staff %}
                        <li>
                            <a id="resetcashpopover" tabindex="0" class="" role="button" data-toggle="popover" data-placement="bottom"  title="Reset Cash"
                               data-content="<input type='number' value='0' name='resetcashamount' id='resetcashinput' step='0.01'><button class='btn btn-default' onclick='resetCash();' style='margin-top: 1em;'>Reset</button>">
                                Reset Cash
                            </a>
                        </li>
			                  <li><a href="../../admin">Admin</a></li>
                        {% endif %}
			                  <li><a href="{% url 'logout' %}">Log Out</a></li>
		                </ul>
		            </div>
	          </div>
	      </nav>
        <div id="cashresetdiv" class="alert alert-success alert-dismissable" style="display:none;" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            Successfully reset the cash amount to &euro;<span id="cashresetamount"></span>.
        </div>
	      <div class="container-fluid">
	          <div class="row">
	              <div id="additiondiv" class="col-sm-6 col-md-4">
		            </div>
	              <div class="col-sm-6 col-md-8">
		                <div class="row">
			                  {% if product_list %}
			                  {% for product in product_list %}
			                  <div class="col-sm-6 col-md-2" style="padding-top: 5px; padding-bottom: 5px;">
                            <a role="button" class="btn btn-primary btn-block"
					                     href="#"
							                 onclick="addProduct({{ product.product_id }});">
				                        {{ product.product_name }}<br>&euro;{{ product.product_price }}
                            </a>
                        </div>
			                  {% endfor %}
			                  {% endif %}
		                </div>
		            </div>
	          </div>
	      </div>
	      <script>
	       function addProduct(productID) {
		         $('#additiondiv').load("{% url 'addition' '' %}" + productID);
		         console.log("Ordered number: " + productID);
	       }

	       function reset() {
		         $('#additiondiv').load("{% url 'addition' 'reset' %}");
		         console.log("Reset addition");
	       }

	       function payed(method) {
             if (method == "cash") {
		             $('#additiondiv').load("{% url 'addition' 'cashpayment' %}");
             } else if (method == "card") {
		             $('#additiondiv').load("{% url 'addition' 'cardpayment' %}");
             }
		         console.log("Person payed");
	       }

	       function removeProduct(product) {
		         $('#additiondiv').load("{%url 'addition' '' %}" + encodeURIComponent(product));
	       }

         function resetCash() {
             var req = new XMLHttpRequest();
             req.open('GET', "{% url 'cash' '' %}" + encodeURIComponent($("#resetcashinput").val()), false);
             req.send(null)
             console.log('trying to reset cash');

             if (req.status == 200) {
                 $('#cashresetamount').text(encodeURIComponent($("#resetcashinput").val()));
                 $('#cashresetdiv').show()
                 $('#resetcashpopover').popover('hide');
                 console.log('succesfully reset cash');
             }
         }

	       $(function() {
		         // This shallst load /addition in its div
		         $('#additiondiv').load("{% url 'addition' '' %}");
             $('#resetcashpopover').popover({html:true});
	       });
	      </script>
    </body>
</html>
